@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  /* UI & surface colors */

  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;

  --text-primary: #585858;
  --text-secondary: #242424;

  /* Brand colors */
  --red: #ef4444;
  --blue: #353739;
}

.dark,
[data-theme="dark"] {
  --bg-primary: #14142b;
  --bg-secondary: #242424;

  --text-primary: #bfbfbf;
  --text-secondary: #8c8c8c;
}

html,
body {
  @apply bg-primary text-secondary overflow-x-hidden break-words font-semibold;
  font-family: "Manrope", sans-serif;
}

.lock-scroll {
  overflow-y: hidden !important;
}

@layer utilities {
  .container {
    @apply px-1 md:px-0 mx-auto;
    max-width: clamp(728px, 75vw, calc(1440px - 300px));
  }
}

.toggle-bg:after {
  content: "ON";
  @apply absolute text-[11px] flex items-center justify-center text-[#6E7191] bg-[#EFF0F6] border-none outline-none h-6 w-10 transition shadow-sm;
}
input:checked + .toggle-bg:after {
  content: "OFF";
  transform: translateX(100%);
  @apply border-[#EFF0F6];
}
input:checked + .toggle-bg {
  @apply bg-[#4E4B66] border-[#EFF0F6];
}

.bar-recharts .recharts-cartesian-axis-tick:first-child line {
  stroke: none;
}
.bar-recharts .recharts-cartesian-axis-tick:first-child text {
  font-size: 0;
}
.bar-recharts .recharts-cartesian-axis-tick:last-child line {
  stroke: none;
}
.bar-recharts .recharts-cartesian-axis-tick:last-child text {
  font-size: 0;
}

@media (max-width: 600px) {
  .bar-recharts .recharts-cartesian-axis-tick {
    display: none;
  }
}

.input-icon {
  background: #14142b url("/assets/icons/icn-search.svg") no-repeat 18px center;
}
